---
# Common certs kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - serviceaccount.yaml
  - vault_connection.yaml
  - vault_auth.yaml
  - vault_secret_app_pki.yaml
  - vault_secret_ibm_entitlement.yaml
{% if instance_type in ['nha', 'nhacrr'] %}
  - vault_secret_nha.yaml
{% endif %}
{% if instance_type == 'nhacrr' %}
  - vault_secret_nhacrr.yaml
{% endif %}
