{#
  Kustomization for optional custom client Route resources.
  Lets base/kustomization.yaml include custom routes as one logical resource
  directory.
  None.
  base/routes/kustomization.yaml.
#}
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - custom_client_route.yaml
