{#
What it is:
  VaultStaticSecret for the MQ application/client TLS material.
Purpose:
  Syncs app-pki certificate data from Vault into the Kubernetes TLS Secret
  referenced by the QueueManager pki.keys and pki.trust sections.
Variables coming from:
  qmgr onboarding facts: app_prefix, mq_environment, namespace,
  qmgr_name, qmgr_name_upper, vault_namespace.
  global_vars and zone derivation: vault_mount, vso_vault_auth_name,
  vso_refresh_after.
Produces:
  base/secrets/vault_secret_app_pki.yaml.
#}
---
# vaultstaticsecret_app_pki.yaml - VSO VaultStaticSecret for mTLS app PKI
# Syncs from Vault KV v2:
# {{ vault_mount }}/data/{{ app_prefix | lower }}/ibm-mq/{{ mq_environment | upper }}/{{ namespace | lower }}/{{ qmgr_name_upper }}/app-pki
# Creates K8s secret: {{ qmgr_name }}-app-pki (tls.key, tls.crt, ca.crt)
# Cert-triggered restart is owned by VSO via rolloutRestartTargets.
# QueueManager spec/image/role rolling updates are owned by the MQ Operator.
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ qmgr_name }}-app-pki
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ qmgr_name }}
    app.kubernetes.io/managed-by: ansible-automation
    mq.ibm.com/cert-type: app-pki
spec:
  vaultAuthRef: {{ vso_vault_auth_name }}
{#
Section:
  Vault Enterprise namespace is optional and appears only for zones that need it.
#}
{% if vault_namespace %}
  namespace: {{ vault_namespace }}
{% endif %}
  mount: {{ vault_mount }}
  type: kv-v2
  path: {{ app_prefix | lower }}/ibm-mq/{{ mq_environment | upper }}/{{ namespace | lower }}/{{ qmgr_name_upper }}/app-pki
  refreshAfter: {{ vso_refresh_after }}
  destination:
    name: {{ qmgr_name }}-app-pki
    create: true
    type: kubernetes.io/tls
  rolloutRestartTargets:
    - kind: StatefulSet
      name: {{ qmgr_name }}
