[defaults]
# Paths
# roles_path is relative to this ansible.cfg file.
roles_path = roles
filter_plugins = roles/qmgr_onboard/filter_plugins

# collections resolution order
collections_paths = ./collections:~/.ansible/collections:/usr/share/ansible/collections

# Security
host_key_checking = False

# AAP output
# Human-readable output for AAP job logs
stdout_callback = default
display_skipped_hosts = false
deprecation_warnings = false
system_warnings = false
