{#
  samplecertrepoStaticSecret for NativeHA CRR cross-region TLS material.
  Syncs nhacrr-tls certificate data from samplecertrepo into the Kubernetes TLS Secret
  used by CRR remote replication.
  qmgr onboarding facts: app_prefix, mq_environment, namespace,
  qmgr_name, qmgr_name_upper, samplecertrepo_namespace.
  global_vars and zone derivation: samplecertrepo_mount, vso_samplecertrepo_auth_name,
  vso_refresh_after.
  base/secrets/samplecertrepo_secret_nhacrr.yaml.
#}
---
# samplecertrepostaticsecret_nhacrr_tls.yaml - VSO samplecertrepoStaticSecret for NHA CRR cross-region TLS
# Syncs from samplecertrepo KV v2:
# {{ samplecertrepo_mount }}/data/{{ app_prefix | lower }}/ibm-mq/{{ mq_environment | upper }}/{{ namespace | lower }}/{{ qmgr_name_upper }}/nhacrr-tls
# Creates K8s secret: {{ qmgr_name }}-nhacrr-tls
# Cert-triggered restart is owned by VSO via rolloutRestartTargets.
# QueueManager spec/image/role rolling updates are owned by the MQ Operator.
apiVersion: secrets.hashicorp.com/v1beta1
kind: samplecertrepoStaticSecret
metadata:
  name: {{ qmgr_name }}-nhacrr-tls
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ qmgr_name }}
    app.kubernetes.io/managed-by: ansible-automation
    mq.ibm.com/cert-type: nhacrr-tls
spec:
  samplecertrepoAuthRef: {{ vso_samplecertrepo_auth_name }}
{#
Section:
  samplecertrepo Enterprise namespace is optional and appears only for zones that need it.
#}
{% if samplecertrepo_namespace %}
  namespace: {{ samplecertrepo_namespace }}
{% endif %}
  mount: {{ samplecertrepo_mount }}
  type: kv-v2
  path: {{ app_prefix | lower }}/ibm-mq/{{ mq_environment | upper }}/{{ namespace | lower }}/{{ qmgr_name_upper }}/nhacrr-tls
  refreshAfter: {{ vso_refresh_after }}
  destination:
    name: {{ qmgr_name }}-nhacrr-tls
    create: true
    type: kubernetes.io/tls
  rolloutRestartTargets:
    - kind: StatefulSet
      name: {{ qmgr_name }}
